<script>window.__assets_js_src={{- "assets/js/" | relURL -}}</script>

<script src='{{ print "/assets/js/" .Site.Data.assets.main.js | relURL }}'></script>

{{- range .Site.Params.assets.customJS -}}
  <script src='{{ . | relURL }}'></script>
{{- end -}}

{{ partial "footer/mathjax" . }}
{{- partial "footer/katex" . -}}
{{- partial "footer/mermaid" . -}}

{{ partial "footer/extra" . }}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RQL06NV6ED"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-RQL06NV6ED');
</script>